*{
  font-family: "Akzidenz Grotesk BQ Medium", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2{
  font-size: 1rem;
  font-weight: 400;
}

input {
  margin-bottom: 1.5rem;
  border: 2px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

#app {
  margin-top: 1rem;
  width: 100vw;
}

#root{
  padding: 0 10px;
}

#board {
  margin-top: 5rem;
}

.my-button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
}

.p1field {
  background-color: red;
}

.p2field{
  background-color: blue;
}

.player1{
  color: red;
}

.player2{
  color: blue;
}

.my-button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.hidden {
  display: none;
}

.field {
  border: 1px solid black;
  width: 10%;
  height: 2rem;
}

.next-player {
  margin-top: 2rem;
}